.featured-badge {
    border-radius: 3px;
    padding: 4px 6px;
    background: #202b33;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 0.25px;
    display: flex;
    align-items: center;
    max-width: 100px;
    justify-content: center;
    gap: 6px;
    font-size: 12px;
    max-height: 20px;
}

.featured-badge img {
    width: 14px;
    height: 14px;
}

.featured-badge.featured-badge--light {
    background: white;
    color: black;
}

@media screen and (min-width: 768px) {
    .featured-badge {
        font-size: 16px;
        max-width: 120px;
        max-height: 26px;
    }

    .featured-badge img {
        width: 20px;
        height: 20px;
    }
}